.skills {
  text-align: left;
  // margin-top: 30px;
  & > h6 {
    margin: 10px 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & li {
      border: 1px solid #2d2747;
      border-radius: 2px;
      display: inline-block;
      font-size: 12px;
      margin: 0 5px 5px 0;
      padding: 2px;
      cursor: pointer;
      transition: transform 0.3s ease-in;

      &:hover {
        transform: scale(1.1) translateY(-2px);
      }
    }
  }
}
